.classitemFormat img{
    background-color: #edefef;
}
.cartquantity{
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white ;
}
* hr{
    width: 95%;
    margin: auto;
    border: none;
    background-color: grey;
    height: 1px;
    color: grey;
}
@media (max-width:500px) {
    .info div p{
        font-size: 18px !important;
    }
    .quantityandprice{
        margin-top: 20px !important;
    }
}