.item{
    width: 200px;
    /* border-radius: 10px; */
    /* border: 2px solid blue; */
    justify-content: center !important;
    display: flex;
    flex-direction: column;
}
.item a{
    width: 150px;
    text-decoration: none;
    color: black;

}
.item a img{
    background-color: #edefef;
    /* padding: 10px; */
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.item a img:hover{
    border: 1px solid black;
}
.item button a{
    text-decoration: none;
    list-style: none;
    color: white;
    /* background-color: black; */
    /* border: none; */
}
.addtocart{
    background-color: black;
    color: white;
}
.previewbtn{
    background-color: rgb(147, 147, 147);
}
/* .item button{
    width: 80px;
    height: 30px;
    border: none;
    background-color: grey;
} */
.interactiveButtons{
    /* justify-content: space-between; */
    gap: 30px;
    width: 100%;
    display: flex;
}
.interactiveButtons button{
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 35px;
    font-size: 14px;
}

.item p{
    margin: 6px 0px;
}
.item a p{
    width: fit-content;
}

.itemsPrices{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.itemPricesNew{
    color: black;
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
}

.itemPricesOld{
    color: #d2d3d3;
    font-size: 18px;
    width: fit-content;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.itemimage{
    width: auto;
    padding: 15px;
}
@media (max-width:500px) {
    .item{
        width: 150px;
    }
    .item a{
        width: 150px;
        text-decoration: none;
        color: black;

    }
    .item a img{
        background-color: #edefef;
        /* padding: 10px; */
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }
    .item p{
        margin: 6px 0px;
        width: 150px;
    }
}
@media (min-width:501px) {
    .item{
        width: 150px;
    }
    .item a{
        width: 150px;
        text-decoration: none;
        color: black;

    }
    .item a img{
        background-color: #edefef;
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }
    .item p{
        margin: 6px 0px;
    }
}
@media (max-width:1200px) {
    
}
@media (max-width:1440px) {
    
}