
.newarrival{
    /* position: absolute; */
    /* top: 100vh; */
    left: 10vh;
    width: 100%;
    padding: 0px 80px;
    height: 120vh;
}
.newarrival hr{
    width: 250px;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
    height: 4px;
    border-radius: 15px;
    color: black;
    background-color: black;
}
.newarrival h1{
    position: relative;
    text-align: center;
    /* padding: 50px; */
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;

}
.aitembox{
    margin: 90px 0px;
    height: 43rem;
    gap: 30px;
    padding: 5px 40px;
    border-bottom: solid #d2d3d3;

}

.aitemboxitem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    gap: 30px;
    /* background-color: pink; */
}