.orderContainer{
    padding: 1rem 1rem;
}
.orderWrapper{
    padding: 1rem 1rem;
    max-width: 800px;
    border: 1px solid grey;
    border-radius: 1rem;
    margin: 0px auto;
}

.orderMessage{
    margin-bottom: 1.5rem;
    text-align: center;
}
.orderMessage h1 {
    margin-bottom: 1rem;
}
.tracking{
    padding: 1rem 0rem 0rem 0rem;
}
.tracking p{
    padding-bottom: 1rem;
}
.itemOrdered{
    padding: .5rem;
}
.orderAddress{
    display: flex;
    padding: 1rem 0rem;
}
.o-wrapper{
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: .5rem;
    display: flex;
    gap: 3rem;
}
.shipadd h2{
    font-size: large;
    text-transform: capitalize;
    margin: .3rem 0rem;
}
.shipadd p{
    font-size: small;
}
.billadd h2{
    margin: .3rem 0rem;
    font-size: large;
    text-transform: capitalize;
}
.billadd p{
    font-size: small;
}
.info p{
    font-size: 15px;
}
.navaway{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.navaway button{
    border: 1px solid black;
    padding: 1rem;
    font-size: 15px;
    width: 400px;
    font-weight: 600;
    transition: .4s ease-in-out;
}
.navaway button:hover{
    border: 1px solid black;
    padding: 1rem;
    font-size: 15px;
    width: 400px;
    font-weight: 600;
}
.btnorder{
    border: none;
    padding: .5rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btnorder:hover{
    border: none;
    padding: .5rem;
    background-color: #f4f4f4;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 500) {
    .o-wrapper{
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: .5rem;
        display: flex;
        gap: 3rem;
    }
    .info p{
        font-size: 5px;
    }
    .shipadd h2{
        font-size: small;
        text-transform: capitalize;
        margin: .3rem 0rem;
    }
    .shipadd p{
        font-size: x-small;
    }
    .billadd h2{
        margin: .3rem 0rem;
        font-size: small;
        text-transform: capitalize;
    }
    .billadd p{
        font-size: x-small;
    }
}