
.footer{
    position: relative;
    background-color: #f4f4f4;
    margin-top: 90px;
    /* display: flex; */
    flex-wrap: wrap;
}
.footercontent{
    /* background-color: red; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 0px 80px;
}
.footercontent div{
    width: 25%;
    padding: 0 1.5% ;
}

.footercontent div p{
    margin: 10px 0px;
    font-size: 14px;
    font-weight: 400;
    /* background-color: blue; */
    color: #6b6b6b;
}
.footercontent div h1{
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
}
.copyfooter{
    width: 85%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 30px 0px;
    margin: 40px 100px 0px 100px;
    /* background-color: RED; */
    justify-content: space-between;
    display: flex;
    border-top: solid 2px rgb(165, 163, 163);

}
.copyfooter div{
    display: flex;
    gap: 10px;
}
.socials{
    width: fit-content !important;
    gap: 8px;
    display: flex;
    /* background-color: red; */
}
.socials div{
    display: flex;
    width: 35px;    
    height: 35px;
    padding: 4px;
    border-radius: 50%;
    background-color: white;
    border: .5px solid rgb(207, 206, 206);
}
.socials div a img{
    width: 25px;
    /* justify-content: center !important; */
    /* align-items: center !important; */
    /* background-color: white; */
}
.copyfooter p{
    /* width: 90%; */
    /* margin-left: 5%; */
}
.helpfullLinksRoute{
    padding-top: 10px;
}

.helpfullLinksRoute li{
    list-style: none;
    width: 100%;
}
.helpfullLinksRoute li a{
    text-decoration: none;
    color: #6b6b6b;
    font-size: 14px;
}
.helpfullLinksRoute li a:hover{
    border-bottom: solid black 1px;
    text-transform: scale(1.5);
    scale: 2;
}

.newsletterFloat{
    position: relative;
    background-color: black;
    top: -50px;
    display: block;
    color: white;
    left: 25%;  
    height: 18vh;
    padding: 15px;
    border-radius: 30px;
    width: 50%;
}
.newsletterFloat p{
    text-align: center;
    margin-bottom: 15px;
}

.nLetter{
    display: flex;
    margin-top: 10px;
    width: 60%;
    background-color:white;
    border-radius: 15px;
    margin-left: 20%;
}
.nLetter input{
    width: 75%;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    border: none;
}
.nLetter:hover{
    border: solid 1px rgb(166, 166, 166);
}
.nLetter button{
    position: relative;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 25%;
    height: 45px;
    background-color: white;
}
.nLetter button:hover{
    background-color: #e1e4e4;
}

@media screen and (max-width: 678px){

    /* .footercontent{
        padding: 80px;
    } */
}