
.footer{
    position: relative;
    background-color: #e1e4e4;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}
.footercontent{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.footercontent div{
    width: 25%;
    padding: 0 1.5% ;
}
.footercontent div img{
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
}

.footercontent div p{
    padding-top: 10px;
}
.copyfooter{
    width: 100%;
    background-color: #e1e4e4;
    text-align: center;
}
.copyfooter p{
    border-top: solid 2px rgb(165, 163, 163);
    width: 90%;
    margin-left: 5%;
}
.helpfullLinksRoute{
    padding-top: 10px;
}

.helpfullLinksRoute li{
    list-style: none;
    width: 100%;
}
.helpfullLinksRoute li a{
    text-decoration: none;
    color: black;
}
.helpfullLinksRoute li a:hover{
    border-bottom: solid black 1px;
    text-transform: scale(1.5);
    scale: 2;
}

.newsletterFloat{
    position: relative;
    background-color: black;
    top: -130%;
    z-index: 3;
    display: block;
    color: white;
    left: 25%;
    height: 18vh;
    padding: 15px;
    border-radius: 30px;
    width: 50%;
}
.newsletterFloat p{
    text-align: center;
    margin-bottom: 15px;
}

.nLetter{
    display: flex;
    margin-top: 10px;
    width: 60%;
    background-color:white;
    border-radius: 15px;
    margin-left: 20%;
}
.nLetter input{
    width: 75%;
    height: 45px;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    border: none;
}
.nLetter:hover{
    border: solid 1px rgb(166, 166, 166);
}
.nLetter button{
    position: relative;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 25%;
    height: 45px;
    background-color: white;
}
.nLetter button:hover{
    background-color: #e1e4e4;
}

@media screen and (min-width: 678px){
    body {
        /* background-color: aqua; */
    }

    .footercontent{
        padding: 80px;
    }
}