.morelikethis{
    margin-top: 50px;
    width: 100%;
    padding: 0px 80px;
}

.morelikethis h1{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.morelikethis hr{
    width: 250px;
    margin: 10px 0px;
    height: 3px;
    border: none;
    background-color: black;

}

.aitembox-morelikethis{
    margin-top: 40px;
    gap: 30px;
    /* height: 43rem; */
    padding: 5px 40px;
}

.aitemboxitem-morelikethis{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin-top: 30px;
    gap: 30px;
    justify-items: center;
    inset: 0;
}
.aitemboxitem-morelikethis a img{

}
@media (max-width:500px) {
    .morelikethis{
        height: 100%;
        padding: 0px 10px;
    }
    
    .morelikethis h1{
        font-size: 25px;
    }
    .morelikethis hr{
        width: 100px;
    }
    
    .aitembox-morelikethis{
        /* gap: 30px; */
        height: auto;
        padding: 0px;
    }
    
    .aitemboxitem-morelikethis{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        margin: 50px 0px;
        gap: 15px;
    }
}
@media (min-width:501px) {
    .morelikethis{
        height: 100%;
        padding: 0px 10px;
    }
    
    .morelikethis h1{
        font-size: 25px;
    }
    .morelikethis hr{
        width: 100px;
    }
    
    .aitembox-morelikethis{
        /* gap: 30px; */
        height: auto;
        padding: 0px;
    }
    
    .aitemboxitem-morelikethis{
        display: grid;
        flex-wrap: wrap;
        padding: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        /* margin: 50px 0px; */
        gap: 15px;
    }
}
@media (min-width:976) {
    .aitemboxitem-morelikethis{
        background-color: red;
    }
}
@media (max-width:1200px) {
    
}
@media (max-width:1440px) {
    
}