*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* border: 1px solid red; */
}
html {
  scroll-behavior: smooth;
  /* position: fixed; */
  /* max-width: 100vw; */
}

/* .classssss{
  background-color: #f2f0ea;
  background-color: #a4a4a4;
  background-color: #edcf5d;
  background-color: #010101;
} */