@import '../../Pages/CSS/colors.css';

.banner-container{
    height: 550px;
    margin-top: 80px;
    padding: 0 2rem;
    animation: fade-in linear forwards;
    scale: .7; opacity: 0;
    animation-timeline: view();
    animation-range-start: 5%;
    animation-range-end: 30%;
}
.bannerContainer{
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-top: 5rem;
    position: relative;
    scale: .7; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 5%;
    animation-range-end: 30%;
}
@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}
@keyframes fade-out {
    to {scale: .8; opacity: 0;}
}
.firstbannerbox{
    background: url("../Assets/replace_popbaby.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
    height: inherit;
    border-radius: 20px;
}

.secondbannerbox{
    background: url("../Assets/pantrybanner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: inherit;
    border-radius: 20px;
    
}

.bannerwrapper{
    display: flex;  
    flex-direction: row;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: var(--accent-300);
}
.banimage{
    width: 50%;
    order: 2;
    /* position: relative; */
    display: block;
    padding-bottom: 0;
}
.infoWrapper-Inner{
    display: flex;
    flex-direction: column;
    padding: clamp(1.6rem, calc(1.6rem + (56) * ((100vw - 428px) / (1920 - 428))), 5.33333rem);
    gap: clamp(2.13333rem, calc(2.13333rem + (8) * ((100vw - 428px) / (1920 - 428))), 2.66667rem);
}
.infoWrapper-Inner h2{
    color: white;
}
.infoWrapper-Inner p{
    color: white;
}
.banimage_img{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-style: none;
}
.infoWrapper{
    width: 50%;
    order: 1;
    align-self: center;
}
.banner-container a{
    padding: 140px 0px 0px 110px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.banner-container button{
    background-color: #FFFFFF;
    width: 300px;
    margin-top: 30px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid white;
}
.banner-container button:hover{
    transition: .2s;
    background-color: #ffffffa9;
    border: 1px solid black;
}
.banner-container button:active{
    transform: translateY(-5px) scale(1.03);
    background-color: #FFFFFF;

}
.banner-container h1{
    padding: 140px 0px 0px 110px;
    width: 50%;
    font-weight: 700;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(100, 100, 100) ;
}
.banner-container p{
    padding: 20px 0px 0px 110px;
    width: 500px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 251, 251);
    text-shadow: 1px 1px 2px rgb(100, 100, 100) ;
}
@media (max-width:500px) {
    .banner-container h1{
        padding: 1.5rem 0px 0px 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1rem;
        color: rgb(255, 251, 251);
    }
    .firstbannerbox{
        background: url("../Assets/replace_popbaby.jpg");
        background-repeat: no-repeat;
        background-position: left ;
        background-size: cover;
        /* width: 100%; */
        height: inherit;
        margin: 0px 40px;
        border-radius: 20px;
    }
    .banner-container{
        height: 300px;
        margin-top: 80px;
        animation: fade-in linear forwards;
        scale: .7; opacity: 0;
        animation-timeline: view();
        animation-range-start: 5%;
        animation-range-end: 30%;
    }
    .banner-container p{
        padding: 1px 0px 0px 1.5rem;
        width: auto;
        font-size: 10px;
        font-weight: 700;
        color: rgb(255, 251, 251);
    }
    .banner-container button{
        background-color: #FFFFFF;
        width: 150px;
        margin-top: 30px;
        height: 50px;
        border: none;
        color: black;
        /* margin-top: 60%; */
        border-radius: 40px;
    }
    
    .firstbannerbox,.secondbannerbox{
        margin: 0px;
    }
    /* .firstbannerbox::after{
        content: ""; 
        position: absolute;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%; 
        background: linear-gradient(0deg, rgba(21, 58, 91, 0) 0%, rgba(21, 58, 91, 0) 33.33%, rgba(29, 152, 156, 0.349) 66.67%, rgba(80, 203, 219, 0.541) 100%);
    } */
    .banner-container{
        padding: 10px;
    }
    .banner-container a{
        padding: 0rem;
        margin-left: 1rem;
        height: 50px;
    }

}
@media (max-width:980px) {
    
}
@media (max-width:1200px) {
    
}
@media (max-width:1440px) {
    
}